main {
    /* display: grid; */
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#content {
    z-index: -1;

}

img {
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 10%;
    padding: 10px;
    -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

.card{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    position:relative;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    padding: 25px;
}

button {
    padding: 15px;
}

nav button {
    margin: 20px;
}